#kl-classrooms.panel.panel-default
  - var baseUrl = user.isTeacher() ? '/subject' : '/classroom'
  .panel-heading
    if user.isPreceptor()
      | Cursos
    else
      | Materias
    a.btn.btn-xs.btn-success.pull-right(href="#{baseUrl}/new")
      if user.isPreceptor()
        | Agregar curso
      else
        | Agregar materia
  .panel-body
    ul.list-group
      each classroom in classrooms
        li.list-group-item= classroom.name
          a.btn.btn-xs(href="#{baseUrl}/#{classroom.id}")
            span.glyphicon.glyphicon-arrow-right