#kl-classrooms.panel.panel-default
  .panel-heading Cursos
    a.btn.btn-xs.btn-success.pull-right(href="/subject/new") Agregar curso
  .panel-body
    ul.list-group
      each classroom in classrooms
        li.list-group-item= classroom.name
          a.btn.btn-xs(href="/subject/#{classroom.subject_id}")
            span.glyphicon.glyphicon-arrow-right