#kl-tabs.panel.panel-default
  .panel-body
    ul.nav.nav-tabs
      li.active
        a(href="#message",data-toggle="tab") Mensaje a curso
      li
        a(href="#notification",data-toggle="tab") Enviar notificación
      if user.isTeacher()
        li
          a(href="#file",data-toggle="tab") Material de estudio
        li
          a(href="#test",data-toggle="tab") Evaluación
    .tab-content(style="margin-top:5px")
      #message.tab-pane.active
        textarea.form-control(rows="3",placeholder="Mensaje...")
        select.form-control.input-sm.pull-left(name="fake-select", style="width:100px")
          option(value="present")
            | Curso
        input.btn.btn-sm.btn-success.pull-left(type="submit", value="Enviar")
      #test.tab-pane
        | 10/7/2014 Examen Integrador
      #file.tab-pane
         textarea.pull-left(rows="1",placeholder="Descripción",style="width:300px")
         input.btn.btn-sm.btn-success.pull-left(type="submit", value="Subir..")
      #notification.tab-pane
        textarea.form-control(rows="3",placeholder="Mensaje...")
        select.form-control.input-sm.pull-left(name="fake-select", style="width:100px")
          option(value="present")
            | Alumno
        input.btn.btn-sm.btn-success.pull-left(type="submit", value="Enviar")