//- Assets:
//- 1) /js/todos.js
//- 2) /css/todos.css

script(type="text/javascript").
  window.klTodos = !{JSON.stringify(todos)};

#kl-todos
  h1 {{title | uppercase}}
  button.btn.btn-danger.pull-right(v-on="click: refresh($event)") Refrescar
  ul
    li(v-repeat="todos",v-on="click: done = !done",class="{{done ? 'done' : ''}}") {{content}}
