doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title
      block title
    link(rel="stylesheet",href="/components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="/css/forms.css")
    block styles
  body
    .container-fluid
      block body
    script(src="/components/vue/dist/vue.min.js")
    script(src="/components/superagent/superagent.js")
    block scripts
