extends layouts/master

block title
  | Koulu

block body
  include components/header
  .container.content
    include components/user
    include components/todos

block scripts
  script(src="/js/header.js")
  script(src="/js/todos.js")

block styles
  link(rel="stylesheet",href="/css/todos.css")
